.general-result {
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
    justify-content: left;
    align-items: center;

    margin-top: 10px;
    margin-left: 1rem;

    border: 2px solid whitesmoke;
    border-radius: 8px;

    color: black;
    background: whitesmoke;
}

.general-result-description {
    margin-left: 4rem;
}